@use 'src/styles/vars';

.radioPlaying{
  // background-color: black;
  width:calc(70% - 1rem);
  box-sizing: border-box;
  margin:0 auto;
  border: 1px solid black;
  color: black;
  padding:2rem;
  // margin-left:0.5rem;
  text-align:center;

  &__status{
    color: vars.$PopColor;
    animation: blinkColor 2s infinite ease-in-out;
    &--chargement{
      color: vars.$PopColor;
    }
  }
}

@keyframes blinkColor {
  0% {
    color: vars.$PopColor;
  }
  50% {
    color: white;
  }
  100% {
    color: vars.$PopColor;
  }
  
}
