$HeadergroundColor: #2A1407;
$ContainerColor:#BDDCF0;
$TextColor:#438EC0;
$InputTextColor:#92989b;
$BubbleColor:#FFF;
$PopColor:#CE3D38;
$SecondaryColor: rgb(83, 206, 189);
$SecondaryColorHover: rgb(111, 218, 203);
// $SecondaryColor: #F5AC72;
$BackgroundColor: white;

$DelayMedium: 0.4s