@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  background-color: White;
}

h1 {
  display: block;
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
  color: white;
  margin:1rem;
}
h2{
  font-size:2rem;
  margin:1rem;
}
.App {
  width:80%;
  margin: 0 auto;
}
