@use 'src/styles/vars';

.selector{
  margin:0 auto;
  width:80%;
  text-align: center;
  margin-bottom:3rem;
  

  &__form{
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__era, &__genre,&__country{
      position:relative;
    }

    &__select{
      background-color: black;
      color:white;
      margin-right:1rem;
      padding: 0.5rem;
      border:none;
    }
    &__submitBtn{
      background-color: vars.$PopColor;
      border: none;
      padding:0.5rem;
      color:white;
      border-radius: 50%;
    }
  }
}
.label{
  position:relative;
  left:0px;
  top:1.5px;
  border:1px solid black;
  padding:0.4rem;
}