.header {
  width:100%;
  margin: 0 auto;
  text-align: center;

  &__title{
    margin: 0 auto;
    margin-top:1rem;
    margin-bottom:1rem;
    display: inline-block;
    background-color: black;
    padding: 2rem 4.5rem;
  }
}