@use 'src/styles/vars';

.header {
  z-index:30;
  margin: 0 auto;
  position: fixed;
  display: block;
  width:100%;

  text-align: center;
  // transform: skew(12deg),roate(10deg);

  &__title{
    color: white;
    margin: 0 auto;
    // margin-bottom:1rem;
    background-color: rgba($color: #000000, $alpha: 0.4);
    padding: 3rem 4.5rem;
  }

  &__subtitle{
    position: absolute;
    width:100%;
    top:7rem;
    color:white;
    letter-spacing: 0.2rem;
  }

  &__image{
    position:absolute;
    width:4rem;
    left:2rem;
    top:3rem;
    padding: 0.5rem;
    
  }
  &__circle{
    z-index:60;
    width: 5rem;
    height: 5rem;
    position: absolute;
    background: yellow;
    border-radius: 50%;
  }
}
@media (max-width:530px){
  .header{
    &__subtitle{
      top:10rem;
      font-size:0.9rem;
    }
    &__image{
      left:0.5rem;
      top:2.5rem;
    }
  }
}