.header {
  z-index:30;
  position: fixed;
  display: block;
  width:100%;
  margin: 0 auto;
  text-align: center;

  &__title{
    margin: 0 auto;
    margin-bottom:1rem;
    background-color: black;
    padding: 2rem 4.5rem;
  }
}