.player{
  box-sizing: border-box;
  position: fixed;
  z-index:35;
  top:1.6rem;
  right: 10%;
  padding:1rem;
  margin-right:1.5rem;
  // background-color: rgb(223, 23, 23);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__Btn{
    cursor: pointer;
    background-color: none;
    width:100%;
    border:none;
    margin:0.2rem 0.2rem;
    &:hover{
      transform: scale(1.2);
    }
    // color : white;
  }
}
@media (max-width:750px){
.player{
  top:6rem;
  right:2%;
  margin-right:0rem;
  align-items: center;
  padding:0.8rem;
  border-radius:0px;
  &__Btn{
    margin: 1rem 0;
  }
}
}
