@use 'src/styles/vars';

.radiosList{
  margin: 0 auto;
  width:60%;
  // text-align: center;

  &__radio{
    position: relative;
    margin:0.5rem;
    padding:2rem;
    background-color: rgb(83, 206, 189);

    &__name{
      display: inline-block;
    }

    &__playBtn{
      position: absolute;
      right:0;
      top:1.5rem;
      border: none;
      margin-right:1rem;
      padding:0.5rem;
      &:hover {
        background-color: rgb(0, 0, 0);
        color: vars.$PopColor;

      }
    }
  }
}
