@use 'src/styles/vars';

.radiosList{
  // position:relative;
  margin: 0 auto;
  width:100%;
  text-align: left;
  // text-align: center;
  &__pageBtn{
    position: fixed;
    bottom:1rem;
    border:none;
    background-color: vars.$PopColor;
    color:white;
    padding:0.5rem 1rem;
    margin:0.5rem;
  }
  &__radio{
    position: relative;
    margin:0.5rem;
    padding:2rem;
    background-color: rgb(83, 206, 189);
    transition: background-color 1s;
    display: flex;

    &__favicon{
      width:150px;
    }

    &__name{
      margin-left:2rem;
      font-size:1.2rem;
      font-weight: bold;
    }


    &:hover{
      background-color: rgb(148, 228, 217);
      transition: background-color 0.2s;
    }

    &__name{
      display: inline-block;
    }

    &__playBtn{
      position: absolute;
      right:0;
      top:1.5rem;
      border: none;
      margin-right:1rem;
      padding:0.5rem;
      &:hover {
        background-color: rgb(0, 0, 0);
        color: vars.$PopColor;

      }
    }
  }
}
.back{
left:1rem;
  &:after{
    z-index:50;
    position: absolute;
    top:4px;
    right:-2px;
    content:'';
    border-top : 15px solid transparent;
    border-bottom : 15px solid transparent;
    border-left : 15px solid transparent;
    border-right: 15px solid rgb(255, 255, 255);
    border-radius: 5px;
  }
  &:hover{
    transform: translateX(-10px);
    transition: transform 0.5s ease-out;
  }
  border-radius: 5px;

  transform: translateX(0px);
  transition: transform 0.5s ease-out;
}
.forward{
  right:1rem;
  &:after{
    z-index:50;
    position: absolute;
    top:4px;
    left:-2px;
    content:'';
    border-top : 15px solid transparent;
    border-bottom : 15px solid transparent;
    border-left : 15px solid rgb(255,255,255);
    border-right: 15px solid transparent;
  }
  &:hover{
    transform: translateX(10px);
    transition: transform 0.5s ease-out;
  }
  border-radius: 5px;

  transform: translateX(0px);
  transition: transform 0.5s ease;
}

.title{
  display: flex;
  justify-content: space-between;
  margin:0.5rem;
  &__page{
    text-align: right;
    color: vars.$SecondaryColor;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
@media (max-width:850px){
  .radiosList{
    &__radio{
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__name{
        margin: 1rem 0 0 0;
      }
    }
  }
  .back{
    left:0px;
    margin:0;
    padding:0.8rem;
    border-radius: 0px;
    &:after{
      right:0px;
      top:8px;
      border-radius: 0px;
    }
  }
  .forward{
    right:0px;
    margin:0;
    padding:0.8rem;
    border-radius: 0px;
    &:after{
      left:0px;
      top:8px;
      border-radius: 0px;
    }
  }
}
